<ng-container *ngIf="mostrarModal">
  <div class="bodyComponent bodyComponentModal">
    <div class="modal">

      <div class="headerContainer">
        <h1>Cadastrar Funcionário</h1>
        <div class="line"></div>
      </div>

      <form [formGroup]="funcionarioForm" (ngSubmit)="onSubmit()">
        <div class="inputBox">
          <div class="inputContainer inputMargin">
            <label>Nome</label>
            <input formControlName="nome">
          </div>

          <div class="inputContainer">
            <label>CPF</label>
            <input formControlName="cpf">
          </div>
        </div>

        <div class="inputContainer">
          <label>Email</label>
          <input formControlName="email">
        </div>

        <div class="inputContainer">
          <label>Data de Contratação</label>
          <input formControlName="dataContratacao">
        </div>

        <div class="inputBox">
          <div class="inputContainer inputMargin">
            <label>Rua</label>
            <input formControlName="rua">
          </div>

          <div class="inputContainer inputMargin">
            <label>CEP</label>
            <input formControlName="cep">
          </div>
        </div>

        <div class="inputBox">
          <div class="inputContainer inputMargin">
            <label>Bairro</label>
            <input formControlName="bairro">
          </div>

          <div class="inputContainer inputMargin">
            <label>Cidade</label>
            <input formControlName="cidade">
          </div>

          <div class="inputContainer">
            <label>Estado</label>
            <input formControlName="estado">
          </div>
        </div>

        <div class="buttons">
          <button type="submit" class="buttonSalvar">
            <span *ngIf="loading" class="loading"></span>
            Salvar
          </button>

          <button type="button" class="buttonCancelar" (click)="onCancel()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</ng-container>