<ng-container *ngIf="mostrarModal">
  <div class="bodyComponent bodyComponentModal">
    <div class="modal">

      <div class="headerContainer">
        <h1>Cadastrar Funcionário</h1>
        <div class="line"></div>
      </div>

      <form>
        <div class="inputBox">
          <div class="inputContainer inputMargin">
            <label>Nome</label>
            <input>
          </div>

          <div class="inputContainer">
            <label>CPF</label>
            <input>
          </div>
        </div>

        <div class="inputContainer">
          <label>Email</label>
          <input>
        </div>

        <div class="inputContainer">
          <label>Data de Contratação</label>
          <input>
        </div>

        <div class="inputBox">
          <div class="inputContainer inputMargin">
            <label>Rua</label>
            <input>
          </div>

          <div class="inputContainer inputMargin">
            <label>CEP</label>
            <input>
          </div>
        </div>

        <div class="inputBox">
          <div class="inputContainer inputMargin">
            <label>Bairro</label>
            <input>
          </div>

          <div class="inputContainer inputMargin">
            <label>Cidade</label>
            <input>
          </div>

          <div class="inputContainer">
            <label>Estado</label>
            <input>
          </div>
        </div>

        <div class="buttons">
          <button class="buttonSalvar" (click)="toggle()">Salvar</button>
          <button class="buttonCancelar" (click)="toggle()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</ng-container>