.bodyComponentLogin {
  justify-content: center;
  align-items: center;

  background-color: var(--background-color-login);
}

.loginContainer,
.inputContainer,
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.loginContainer {
  width: 52rem;
  height: 48rem;

  background: var(--secondary-color);
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.25);
  border-radius: 1rem;
}

.inputContainer {
  margin: 4rem 0 3rem 0;
}

.emailInput {
  margin-bottom: 2rem;
}

.loading {
  width: 15%;
  aspect-ratio: 1 / 1;
  display: inline-block;
  box-sizing: border-box;
  border: 0.3rem solid white;
  border-radius: 50%;
  border-bottom-color: transparent;

  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}