<div class="bodyComponent bodyComponentLogin">
  <div class="loginContainer">
    <h1>Login</h1>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="inputContainer">
        <input formControlName="email" class="emailInput" placeholder="Email">
        <input type="password" formControlName="password" class="passwordInput" placeholder="Senha">
      </div>

      <button>
        <span *ngIf="loading" class="loading"></span>
        Entrar
      </button>
    </form>
  </div>
</div>