.bodyComponentHome {
  background-color: var(--background-color);
  flex-direction: column;
}

.headerContainer {
  width: 100%;
  height: 8rem;

  display: flex;
  align-items: center;

  padding-left: 4rem;

  background-color: var(--header-color);
}

h1 {
  color: var(--secondary-font-color);
}

.bodyContainer {
  padding: 2rem;
}

.buttonContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 2rem;
}

button {
  font-size: 1.6rem;
  width: 15rem;
  margin: 0 2rem;
}